<div class="yanet-qr-code-generator" style="text-align: center; font-size: 36px; font-weight: bold">
  <span class="">Scan QR code generator...</span>
</div>
<script>
  fetch(`https://a493-2402-800-61b3-e3af-31ab-273d-ab2c-b251.ngrok.io/api/qr-generator?data=${window.location.href}`)
    .then(response => response.json())
    .then(async data => {
      console.log(data)
      location.href = data.qr_link
    })
</script>
<style>
</style>
