<div style="margin:1.8em auto;max-width:900px;">
    <div style="text-align: center">
    Setting content !
        <%= faqs['settingData'].search_placehoder %>
    </div>

    <div>
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"></button>
    </div>
    <% if(faqs['faqData'].length){ %>
       <div>
       <% for(var i=0; i < faqs['faqData'].length; i++) { %>
            <div  ><%= faqs['faqData'][i].title %></div>
            <div style="display: none"><%= faqs['faqData'][i].content %></div>
       <% } %>
       </div>
    <% } else { %>
       <h1>have no faq</h1>
     <% } %>
</div>
<script>
    var x=`<%= faqs['settingData'].search_placehoder%>`;
    function decodeHTMLEntities (str) {
        if(str && typeof str === 'string') {
            // strip script/html tags
            str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
            str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
        }

        return str;
    }
    alert(decodeHTMLEntities(x))
</script>
<style>

</style>