.category-container{
  margin-bottom: 20px;
}
.faq-content-1{
  line-height: normal;
  text-align: start;
  word-wrap: break-word;
}
.faq-title-1{
  word-wrap:break-word;
  word-break: break-word;
  text-align: start;
}
.faq-content-2{
  display: none; 
  margin:0; 
  padding: 12px; 
  border-radius: 0 0 4px 4px;
  border: 1px solid #ccc;
  border-top: none;
  line-height: normal;
  text-align: start;
  word-wrap: break-word;
}
.svg-right{
  min-width: 10px !important; 
  height: 16px;
}
.faq-list-2{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer; 
  line-height: normal;
  padding: 12px;
  border-radius: 4px 4px 0 0; 
  margin-top: 6px;
}
.faq-title-2{
  word-wrap:break-word;
  word-break: break-word;
  text-align: start;
  margin-right: 6px;
}
.faq-content-3{
  display: none;
  line-height: normal;
  text-align: start;
  word-wrap: break-word;
  padding: 12px;
  margin-right: 28px;
}
.faq-list-3{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer; 
  line-height: normal;
  padding: 12px;
  border-radius: 4px 4px 0 0; 
  margin-top: 6px;
}
.faq-title-3{
  word-wrap:break-word;
  word-break: break-word;
  text-align: start;
}
.list-svg{
  display: flex; 
  align-items: center;
  justify-content: center;
}
.svg-minus{
  opacity: 0;
  min-width: 14px !important;
  height: 14px;
}
svg:not(:root) {
  overflow:unset !important;
}
.svg-plus{
  position: relative;
  left: 13.2px;
  opacity: 1;
  min-width: 14px !important;
  height: 14px;
}
